@use '../base/variables' as v;
@use '../base/mixins';

body {
	font-size: v.$fs16;
	background-color: v.$color-bg;
	color: v.$color-text-white;
	font-family: v.$ff_JetBrains;
}

.container {
	margin: 0 auto;
	max-width: 1560px;
	padding: 0 20px;
}