$color-bg: #1c1c22;

$color-accent: #00ff99;
$color-accent-hover: #00e187;
$color-text-white: #fff;

// z-index
$z999: 999;
$z10: 10;

// font size
$fs16: 16px;
$fs20: 20px;
$fs25: 25px;
$fs30: 30px;
$fs42: 42px;

// font weight
$fw600: 600;

// font family
$ff_JetBrains: 'JetBrains Mono', monospace;

// transition
$base-bg-transition: background-color 0.3s ease-in;
