$color-bg: #1c1c22;
$color-secondary: rgba(108, 107, 107, 0.2);
$color-text-secondary: rgba(108, 107, 107, 0.6);

$color-accent: #00ff99;
$color-accent-hover: #00e187;
$color-text-white: #fff;

// z-index
$z999: 999;
$z10: 10;

// font size
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs25: 25px;
$fs24: 24px;
$fs30: 30px;
$fs32: 32px;
$fs42: 42px;
$fs48: 48px;
$fs50: 50px;
$fs55: 55px;
$fs64: 64px;
$fs75: 75px;
$fs88: 88px;
$fs96: 96px;

// gap
$g8: 8px;
$g10: 10px;
$g20: 20px;
$g16: 16px;
$g24: 24px;
$g30: 30px;
$g32: 32px;
$g130: 130px;

// padding
$pt16: 16px;

$pb24: 24px;
$pb32: 32px;

//border radius 
$br30: 30px;

// line-height
$lh30: 30px;
$lh35: 35px;

// font weight
$fw200: 200;
$fw400: 400;
$fw600: 600;
$fw900: 900;

// font family
$ff_JetBrains: 'JetBrains Mono', monospace;

// transition
$base-bg-transition: background-color 0.3s ease-in;
