@use '../../shared/sass/base/variables' as v;
@use '../../shared/sass/base/mixins';

.box {
	@include mixins.flex_col_center ;

	text-align: center;

	gap: v.$g10;
	margin-top: 35px;

	h3 {
		text-transform: capitalize;
		font-size: v.$fs14;
	}
}

.title {
	font-size: v.$fs42;
	margin-bottom: 10px;
	font-weight: v.$fw600;

	span {
		color: v.$color-accent;
	}
}

.text {
	font-weight: v.$fw200;
	font-size: v.$fs14;
	line-height: v.$lh30;
}


@media (min-width: 768px) {
	.title {
		font-size: v.$fs55;
	}
}

@media (min-width: 968px) {
	.title {
		font-size: v.$fs75;
	}
	.text {
		max-width: 600px;
	}
}

@media (min-width: 1200px) {
	.box {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		gap: v.$g10;
		margin-top: 15px;

		h3 {
			text-transform: capitalize;
			font-size: v.$fs16;
		}
	}
	.title {
		text-align: left;
	}

	.text {
		font-weight: v.$fw400;
		text-align: left;
		font-size: v.$fs18;
		line-height: v.$lh30;
		margin-bottom: 20px;
	}
}

@media (min-width: 1400px) {
	.box {
		gap: v.$g10;
		margin-top: 15px;

		h3 {
			text-transform: capitalize;
			font-size: v.$fs20;
		}
	}
	.title {
		font-size: v.$fs88;
		margin-bottom: 20px;
	}

	.text {
		font-size: v.$fs20;
		line-height: v.$lh35;
	}
}


