@use '../../shared/sass/base/variables' as v;

.box {
	position: relative;

	.image {
		position: relative;
		width: 298px;
		height: 298px;
		top: 50px;
	}
}

.image_box {
	isolation: isolate;
	mix-blend-mode: lighten;
}

.svg {
	position: absolute;

	top: 0px;
	width: 300px;
	height: 300px;
}

@media (min-width: 1200px) {
	.box {
		.image {
			position: relative;

			width: 358px;
			height: 358px;
			top: -20px;
			mix-blend-mode: lighten;
		}
	}

	.svg {
		top: -80px;
		right: 30px;
		width: 400px;
		height: 400px;
	}

	.image_box {
		height: 400px;
		width: 400px;
	}
}

@media (min-width: 1400px) {
	.box {
		.image {
			width: 458px;
			height: 458px;
			top: -20px;
		}
	}
	.svg {
		top: -70px;
		right: 30px;
		width: 506px;
		height: 506px;
	}

	.image_box {
		position: relative;
		height: 506px;
		width: 506px;
	}
}

@media (min-width: 1600px) {
	.image {
		left: 0px;
		top: -30px;
	}
}

@media (min-width: 1601px) {
	.svg {
		top: -30px;
		right: -15px;
	}

	.image {
		left: 50px;
	}
	.image_box {
		right: 0px;
		top: 52px;
	}
}
