@use '../../shared/sass/base/variables' as v;
@use '../../shared/sass/base/mixins';



.stats {
	@include mixins.flex_center;

	flex-wrap: wrap;
	text-align: center;

	gap: v.$g20;
	margin-top: 30px;
}

.count_up {
	font-size: v.$fs50;
	font-weight: v.$fw900;
	//  color: transparent; 
  // -webkit-text-stroke: 1px rgb(255, 255, 255); 
}

.stats_text {
	width: 150px;
}

@media (min-width: 1200px) {
	.stats {
		flex-wrap: nowrap; 
		justify-content: space-between;
    margin-top: 100px;
		gap: v.$g130;
	}
}
