@use '../../../shared/sass/base/variables' as v;

@use '../../../shared/sass/base/mixins';

.wrapper {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: v.$g32;

  @media (max-width:1024px) {
    gap: v.$g16;
    }
    @media (max-width:425px) {
      max-width: 100%;
    }

}

.number {
  color: transparent; 
  -webkit-text-stroke: 1px #fff; 
   font-size: v.$fs96;

   @media (max-width:1024px) {
    font-size: v.$fs64;
    }
    @media (max-width: 768px) {
      font-size: v.$fs48;  
    }
}

.title {
font-size: v.$fs48;

@media (max-width:1024px) {
  font-size: v.$fs32;
}

@media (max-width: 768px) {
  font-size: v.$fs24;;   
}
}

.description {
  font-size: v.$fs16;
  color: v.$color-text-secondary;
  
  @media (max-width:1024px) {
    font-size: v.$fs14;
    }

}

.stack {
  display: flex;
  flex-wrap: wrap;
  font-weight: v.$fw900;
  color: v.$color-accent;
  gap: v.$g16;
  padding-bottom: v.$pb32;
  border-bottom: 2px solid v.$color-secondary;

  @media (max-width:1024px) {
    font-size: v.$fs16;
    padding-bottom: v.$pb24;
    gap: v.$g8;
    }
}


.icon_container {
	display: flex;
	gap: v.$g24;
}

.icon_style {
 @include mixins.flex_center ;

	color: v.$color-accent;
	border-radius: 50%;
	font-size: v.$fs24;
	width: 64px;
	height: 64px;
	border: 1px solid v.$color-accent;
	transition: v.$base-bg-transition;

	&:hover {
		color: v.$color-bg;
		background-color: v.$color-accent;
	}
}
