.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 40px;
	padding-bottom: 190px;
}

.nav {
	display: flex;
	cursor: pointer;
	gap: 40px;

	li {
		padding: 8px 16px;
	}
}

.logo {
	display: flex;
	gap: 20px;
}

.btn {
	cursor: pointer;
	background-color: #000;
	padding: 10px 20px;
	border-radius: 5px;
	color: white;
	text-align: center;
}

.active {
	border-radius: 5px;
	outline: 1px solid #000;
}
