@use '../../sass/base/variables' as v;

.wrapper {
  display: flex;
  align-items: center;
  gap: v.$g24;
}

.img_box {
  display: grid;
  place-items: center;
  font-size: v.$fs24;
  background-color: v.$color-secondary;
  width: 72px;
  height: 72px;

}

.feedback {
  p {
    transition: v.$base-color-transition;
    font-size: v.$fs22;

    &:hover {
      color: v.$color-accent-hover;
    }
  }
  span {
    font-size: 18px;
    color: v.$color-text-secondary;
  }
  
}