$black: #000;
$green: #c20a0a;

// color
$text-color: rgb(113, 113, 122);;


$container-width: 1420px;

// gap
$g60: 60px;


// font size 
$fs16: 16px;
$fs48: 48px;


// font weight
$fw400:400;
$fw500:500;
$fw600:600;
$fw700:700;
$fw800:800;

// line height
$lh28: 28px;

// letter spacing
$ls2: 2%;